/* all box element styles */
* {
    box-sizing: border-box;
}

/* body background styles */
    body {
        background-color: lightblue;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 100%;
        margin: auto;
    }

/* header styles */
    .container {
        width: 100%;
        margin: auto;
    }

    h1, h2, h3{
        color:blue;
        margin-bottom: 30px;
        text-align: center;
    }
/* paragraph styles */
    p {
        color:cadetblue;
        font-size: 25px;
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: auto;
    }

    h1 {
        font-size: 25px;
        line-height: 49px;
        padding-bottom: 15px;
        border-bottom: 3px solid cadetblue;
    }
    
    h2, h3 { 
        font-size: 25px;
    }
    
/* image styles */
    #image {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 25px;
        position: fixed;
        background: #fff;
        border-bottom: 5px solid teal;
    }
    
    #logo {
        width: 50px;
        height: 50px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 50px;
        background: white;
        color:black;
    }

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

   } 
    /* nav styles */
    nav {
        float: right;
        margin-top: 20px;
    }
    
    nav a{
        display: inline-block;
        margin-left: 15px;
        padding-left: 20px;
        line-height: 20px;
        color: black;
        border-left: 1px solid #efefef;
    }
    
    #main-container {
        padding-top: 130px;
        min-height: 100%;
        align-items: center;
    }
    
    .main-section {
        width: 100%;
        padding: 30px;
        margin: 0 40px 40px 0;
        float: left;
        border: 3px solid black;
        background: #fff;
    }


    