/* all box element styles */
* {
    box-sizing: border-box;
}

/* body background styles */
    .body {
        background-color: rgb(39, 133, 165);
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        height: 100%;
    }

/* header styles */
    .container {
        width: 100%;
        width: fill;
    }

    h1, h2, h3{
        color:rgb(0, 45, 97);
        margin-bottom: 30px;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }
/* paragraph styles */
    p {
        color:blue;
        font-size: 25px;
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: auto;
        text-align: center;
        text-size-adjust: 15px;
    }

    h1 {
        font-size: 25px;
        line-height: 49px;
        padding-bottom: 15px;
        border-bottom: 3px solid cadetblue;
    }
    
    h2, h3 { 
        font-size: 25px;
    }
    
/* image styles */
#image1 {
    min-width: 10px;
    padding: 7px;
    font-size: 12px;
    font-weight: lighter !important;
    line-height: 1;
    color: #fff !important;
    text-align: center;
    vertical-align: baseline;
    background-color: blue;
    border-radius: 10px;
    top: -3px;
    height:auto;
    width: min-content;
}
    #img {
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 25px;
        position: fixed;
        background: #fff;
        border-bottom: 5px solid teal;
    }
    
    #logo {
        width: 50px;
        height: 50px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
        background: white;
        color:rgb(58, 115, 173);
    }

   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

   } 
    /* nav styles */
    nav {
        float: right;
        margin-top: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        background: rgb(185, 186, 187);
        border-radius: 50px;
        float:right;
    }
    
    nav a{
        display: inline-block;
        margin-left: 15px;
        padding-left: 20px;
        line-height: 20px;
        color: whitesmoke;
        border-left: 1px solid #efefef;
        padding-right: 30px;
    }
    
    #main-container {
        padding-top: 50px;
        min-height: 100%;
        align-items: center;
        border-radius: 3%;
    }
    
    .main-section {
        width: 100%;
        padding: 30px;
        margin: 0 40px 40px 0;
        float: left;
        border: 3px solid black;
        background: #fff;
    }
    article {
        background-origin: padding-box;
        width: 100%;
        margin-top: 5%;
}
    
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

    .column {
      flex: 50%;
      max-width: 50%;
    
  }
  
    .column {
      flex: 100%;
      max-width: 100%;
  }